# Environments and Secrets
.env
.env.*
!.env.example
.secrets/
credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
.venv/
Pipfile.lock

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
logs/
*.log

# Docker
.dockerignore

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db